@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.content {
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
    height: 140px;
    width: 320px;
    padding: 0px 1.2em;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 5px;
}

.content:hover {
    transform: scale(1.03);
    z-index: 1;
    cursor: pointer;
}


.image img{
    height: 110px;
    width: 110px;
    border-radius: 5px;
    object-fit: cover;
    display: block;

}

.desc {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.name {
    font-weight: bolder;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.info {
    display: flex;
    gap: 1.4em;
    font-size: 12px;
}

a {
    text-decoration: none;
}

@media (max-width: 1000px) {

    .content {
        width: 250px;
        height: 110px;
    }
    .image img{
        height: 90px;
        width: 90px;
    }
    .info {
        font-size: 10px;
    }

}
@media (max-width: 640px) {
    .content {
        width: 210px;
        height: 100px;
    }
    .image img{
        height: 70px;
        width: 70px;
    }
    .desc {
        gap: 0.8em;
    }
    .info {
        font-size: 9px;
    }
}

@media (max-width: 430px) {
    .content {
        width: 80vw;
    }
}

